<p>New contact</p>
<form name="newContact" novalidate class="form-horizontal">
	<form-field record='contact' required='true' fieldname = 'first_name' fieldtype = 'text' live= 'false' ></form-field>
	<form-field record='contact' required='true' fieldname = 'last_name' fieldtype = 'text' live= 'false' ></form-field>
	<form-field record='contact' required='false' fieldname = 'email'  fieldtype = 'email' live= 'false' ></form-field>
	<form-field record='contact' required= false fieldname = 'phone'  fieldtype = 'phone' live= 'false' ></form-field>
	<form-field record='contact' required='false' fieldname = 'web'  fieldtype = 'web' live= 'false' ></form-field>
</form>
<button class="button btn btn-info" ng-click="create()">Save</button>
<button class="button btn btn-link" ng-click="backToList()">Back to list</button>

